.hero__container{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    row-gap: 50px;
}

.hero__filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    width: 100%;

    label{
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2px;
    }
}

.same__style{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.isMarried_box{
    flex-direction: row;
    align-self: flex-end;
    background-color: #a20505;
    color: #fff;
    padding: 10px;
    gap: 5px;

    label{
        cursor: pointer;
        letter-spacing: 1.2px;
        font-weight: 400;
    }
}

.search_box{
    width: 100%;
    max-width: 820px;
}

#search{
    outline: none;
    border-radius: 4px;
    border: 1px solid #33333377;
    padding: 10px;
    font-size: 16px;
}

#position_type{
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1.2px;
    outline: none;
    border: none;
    background-color: #195eff;
    color: #fff;
    text-align: center;

    option{
        font-size: 14px;
    }
}

.position_type__box{
    width: 100%;
    max-width: 150px;
}

#salary_sort{
    padding: 10px;
    font-size: 16px;
    letter-spacing: 1.2px;
    outline: none;
    border: none;
    background-color: #656565;
    color: #fff;
}

.add_btn{
    align-self: flex-end;
    padding: 10px 30px;
    font-size: 16px;
    letter-spacing: 1.2px;
    outline: none;
    border: none;
    border-radius: 4px;
    background-color: #028f00;
    color: #fff;
}

select{
    cursor: pointer;
}
thead{
    th{
        text-align: left;
        &:first-child{
            text-align: center;
        }
    }
}
.json_data{
    tr{
        border-top: 1px solid #3333335d;
        border-bottom: 1px solid #3333335d;

        &:nth-of-type(odd){
        background-color: #3333332e;
        }
        &:hover{
            background-color: #3333335b;
        }
    }
    td{
        padding: 4px 0;
        &:last-of-type{
            text-align: right;
        }
    }
}
table{
    border-collapse: collapse;
}
thead{
    th{
        &:last-of-type{
            text-align: right;
        }
    }
}
.delete_btn{
    background-color: rgb(193, 0, 0);
    &:hover{
        background-color: rgb(115, 1, 1);
    }
}